@page "/signin"
@model user2.Pages.SignIn

@{
    Layout = "Shared/_Layout";
}

<div>
    <form method="post">
        <input type="text" name="username" autocomplete="off">
        <input type="password" name="passwor" autocomplete="off">
    </form>
</div>
